.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  border-radius: 10px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Report-Table {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tablerep, .titrep{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablemain{
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0
}
table tr{
  border: 2px solid #ddd;
  padding: 5px;
}

table td, table th{
  padding: 6px;
  text-align: center;
  letter-spacing: 1px;
}

h4, h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.datbody{
  border: 2px solid rgb(19, 13, 13);
  padding: 1px;
  
}

thead{
  background-color: #98e0cf;
  color: rgb(24, 19, 19);
  border-bottom: solid 3px #0f362d
}

tr:hover{
  background-color: #036681;
  color: white;
}

.topnav{
  
  color: #f2f2f2;
  padding: 15px;
  background-color: rgb(192, 219, 143);
  display: flex;
  justify-content: center;
}

.btn-borde {
  padding: .375rem .75rem;
  margin-left: 10px;
  border: 1px solid #6b88a8;
  border-radius: .25rem;
  color: #567699;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
  color: #fff;
  background-color: #75a8df;
}

.btn-border {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .375rem .75rem;
  width: 40%

}

h2{
  display: flex;
  justify-content: center;
}

.wraper{
  height: 97vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.wraper-reg{
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: #fefefe;
}


