@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.App {
  text-align: center;
}

img {
  max-width: 100%;
  width: 17%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Report-Table {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tablerep,
.titrep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablemain {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  border: 2px solid #ddd;
  padding: 5px;
}

table td,
table th {
  padding: 6px;
  text-align: center;
  letter-spacing: 1px;
}

h3,
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.datbody {
  border: 2px solid rgb(19, 13, 13);
  padding: 1px;
}

thead {
  background-color: #474b4f;
  color: rgb(255, 251, 251);
  border-bottom: solid 3px #0f362d;
}

tr:hover {
  background-color: #86c232;
  color: white;
}

.topnav {
  // position:fixed;
  // z-index:1000;
  // max-width:100%;
  width: 100%;
  color: #f2f2f2;
  padding: 6px;
  background-color: #474b4f;
  display: flex;
  justify-content: center;
}

.btn-borde {
  padding: 0.375rem 0.75rem;
  margin-left: 10px;
  border: 1px solid #61892f;
  border-radius: 0.25rem;
  background: #86c232;
  color: #ffffff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
}

.btn-borde:hover,
.btn-borde:active,
.btn-borde:focus {
  color: #222629;
  background-color: #ffffff;
}

.btn-border {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  width: 40%;
}

h2 {
  display: flex;
  justify-content: center;
}

.wraper {
  height: 97vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wraper-reg {
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: #fefefe;
}

//Login Container

.Appform {
  display: flex;
  text-align: center;
  justify-content: center;
  // background-image: url('../src/img/led.jpg');
  // background-color: rgb(230, 229, 241);
}

.login {
  width: 25em;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 95%;
    z-index: 99;
    padding: 17px 10px;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    background-color: #61892f;
    width: 95%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -37%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 37%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 2em;
      margin-left: 2em;
    }
  }
}

//Button
.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #86c232;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    color: #222629;
    background-color: #ffffff;
    border: 1px solid #61892f;
    border-radius: 0.25rem;
  }
  &:focus {
    outline: none;
  }
}
